Dashboard/.idea/*
Dashboard/.ipynb_checkpoints/*
Dashboard/__pycache__/*
Dashboard/assets/credentials.txt
Dashboard/excelfiles/accentcities.xlsx
Dashboard/excelfiles/worldcitiespop.csv
Dashboard/figures/__pycache__/*
Dashboard/pages/__pycache__/*
Dashboard/scraper/pictures
Dashboard/scraper/recmag.csv
Dashboard/scraper/recmag_v1.csv
Dashboard/scraper/recmag_v2.csv
Dashboard/scraper/recmag_v3.csv
Dashboard/dashboard_data.ipynb



