body {
    background-color: darkblue;
}

#page_title {
    text-align: center;
    color: white;
    margin-bottom: 0;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

h3 {
    margin-left: 1%;
}

p {
    margin-left: 1%;
    padding-left: 1%;
}

.inline {
    display: inline-block;
    margin-left: 1%;
    margin-right: 1%;
}

#page_content {
    color: white;
    width: 98%;
    margin: 0 auto;
    background-color: rgb(0,0,110);
    border: 1px solid black;
}

.header_tab_bar {
    width: 98%;
    margin: 0 auto;
    margin-top: 1%;
    margin-bottom: 1%;
    background-color: rgb(0,0,110);
    border: 1px solid black !important;
}

.child_tab {
    color: white;
    background-color: rgb(0,0,110) !important;
    border: none !important;
}
.child_tab_selected {
    border-top: 0px solid transparent;
    color: white;
    background-color: white !important;
}

.child_tab_selected:hover {
    background-color: white !important;
    border: none;
}

.container {
    width: 98%;
    margin-top: 1%;
    margin-left: 1%;
    background-color: rgb(0,0,80);
    border: 1px solid black;
    display: inline-block;
}

.page_header {
    width: 98%;
    margin-top: 1%;
    margin-left: 1%;
    background-color: rgb(0,0,80);
}

.left_container {
    width: 69%;
    display: inline-block;
}

.right_container {
    width: 29%;
    display: inline-block;
    vertical-align: top;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

#country_figure {
    margin: 1%, 1%, 1%, 1%;
}